#logo{
    max-width: 100%; 
    max-height: 10%;
    position: absolute;
    left:15px;
    top:30px;
}

#banner{
    max-width:100%;
    position: relative;
    left:0px;
    top:15px;
}

h1#title {
    position: absolute;
    top:20px;
    left: 30%;
    font-size: 1.0rem;
    text-align: center;
    color: #FFFF00;
}

h2#title{
    position: absolute;
    top:40px;
    left: 31%;
    font-size: 0.7rem;
    text-align: center;
    color: #FFFFFF;
}